In [1]:
#to avoid warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("data/Loksabha2019.csv")

In [4]:
data.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\r\nVOTES,POSTAL\r\nVOTES,TOTAL\r\nVOTES,OVER TOTAL ELECTORS \r\nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\r\n ~ 30 Lacs+","Rs 2,31,450\r\n ~ 2 Lacs+",376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\r\n ~ 1 Crore+","Rs 8,47,000\r\n ~ 8 Lacs+",318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\r\n ~ 3 Crore+","Rs 1,53,00,000\r\n ~ 1 Crore+",314057,181,314238,21.092771,29.534285,1489790
3,Telangana,ADILABAD,NOTA,0,NOTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13030,6,13036,0.875023,1.225214,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5,58.0,SC,Doctorate,"Rs 7,42,74,036\r\n ~ 7 Crore+","Rs 86,06,522\r\n ~ 86 Lacs+",644459,2416,646875,33.383823,56.464615,1937690

In [5]:
data.isna().sum()

STATE                                            0
CONSTITUENCY                                     0
NAME                                             0
WINNER                                           0
PARTY                                            0
SYMBOL                                         245
GENDER                                         245
CRIMINAL\r\nCASES                              245
AGE                                            245
CATEGORY                                       245
EDUCATION                                      245
ASSETS                                         245
LIABILITIES                                    245
GENERAL\r\nVOTES                                 0
POSTAL\r\nVOTES                                  0
TOTAL\r\nVOTES                                   0
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY          0
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY      0
TOTAL ELECTORS                                   0
dtype: int64

In [6]:
#removing rows with NOTA
data=data.drop(data[data['PARTY']=='NOTA'].index)

In [7]:
data.isna().sum()

STATE                                          0
CONSTITUENCY                                   0
NAME                                           0
WINNER                                         0
PARTY                                          0
SYMBOL                                         0
GENDER                                         0
CRIMINAL\r\nCASES                              0
AGE                                            0
CATEGORY                                       0
EDUCATION                                      0
ASSETS                                         0
LIABILITIES                                    0
GENERAL\r\nVOTES                               0
POSTAL\r\nVOTES                                0
TOTAL\r\nVOTES                                 0
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        0
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    0
TOTAL ELECTORS                                 0
dtype: int64

In [8]:
def converter(x):
    try : 
        x=x.split("\n")[0]
        x=x.split()[1]
        x=x.replace(",","")
        x=float(x)
    except:
        x=0
    return x

In [9]:
data['LIABILITIES'] = data['LIABILITIES'].apply(lambda x : converter(x))

In [10]:
data['ASSETS'] = data['ASSETS'].apply(lambda x : converter(x))

In [11]:
data.shape

(2018, 19)

In [12]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                               object
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [13]:
data['CRIMINAL\r\nCASES'].unique()

array(['52', '0', '3', '5', '1', '6', '2', '4', '9', '7', '40', '8', '24',
       '14', '28', 'Not Available', '12', '11', '13', '15', '204', '10',
       '22', '31', '42', '16', '240', '41', '18'], dtype=object)

In [14]:
mp_criminal = {'Not Available':0}

In [15]:
data['CRIMINAL\r\nCASES'] = data['CRIMINAL\r\nCASES'].map(mp_criminal)

In [16]:
# Which party has candidates with most criminal cases?
party_group = data.groupby('PARTY').count()['CRIMINAL\r\nCASES']
party_group.sort_values(ascending = False).head()
# IND has the most number of criminal cases

PARTY
IND     8
NTK     4
BSP     2
INC     2
VSIP    1
Name: CRIMINAL\r\nCASES, dtype: int64

In [17]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                              float64
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

# EDA

## Party vs Asset

In [18]:
data['STATE'].unique()

array(['Telangana', 'Uttar Pradesh', 'Maharashtra', 'Gujarat',
       'Rajasthan', 'Kerala', 'West Bengal', 'Uttarakhand',
       'Andhra Pradesh', 'Haryana', 'Punjab', 'Jammu & Kashmir',
       'Andaman & Nicobar Islands', 'Tamil Nadu', 'Bihar',
       'Arunachal Pradesh', 'Odisha', 'Assam', 'Karnataka',
       'Madhya Pradesh', 'Chhattisgarh', 'Chandigarh', 'NCT OF Delhi',
       'Jharkhand', 'Dadra & Nagar Haveli', 'Daman & Diu',
       'Himachal Pradesh', 'Manipur', 'Lakshadweep', 'Mizoram',
       'Nagaland', 'Goa', 'Puducherry', 'Meghalaya', 'Sikkim', 'Tripura'],
      dtype=object)

In [19]:
# Which part has more assets in Kerala?
party_kerala = data[data['STATE']=='Kerala']

In [20]:
party_assets_kerala = party_kerala.groupby('PARTY').mean()['ASSETS']

In [21]:
party_assets_kerala.sort_values(ascending=False)

PARTY
INC       5.792125e+07
IUML      3.051790e+07
KEC       2.764370e+07
KEC(M)    2.602748e+07
BJP       2.359935e+07
RSP       1.750065e+07
CPI(M)    1.745163e+07
BDJS      5.633545e+06
IND       5.436137e+06
SDPI      2.094454e+06
Name: ASSETS, dtype: float64

In [22]:
# Overall which party has the most assets?
overall_party_assets = data.groupby('PARTY').mean()['ASSETS']
overall_party_assets.sort_values(ascending = False)
# ravp has the most assets

PARTY
ravp       9.120029e+08
YSRCP      6.294556e+08
TDP        5.777990e+08
SAD        5.193560e+08
TRS        4.587524e+08
               ...
AKBMP      1.892000e+05
SUCI(C)    1.555000e+05
VCSMP      3.300000e+04
CPIM       5.650000e+02
TJS        0.000000e+00
Name: ASSETS, Length: 132, dtype: float64

## Age profiling of candidates

In [23]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                              float64
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [24]:
# Which is the most occured age group in candidates?
age_group = data.groupby('AGE').count()['STATE']
age_group.sort_values(ascending = False).head()
# Most occured age group ranges from 48 to 55

AGE
55.0    67
52.0    66
58.0    63
46.0    62
48.0    62
Name: STATE, dtype: int64

In [25]:
# Which party has the most aged candidates?
party_age = data.groupby(['PARTY','AGE']).count()['STATE']
party_age.sort_values(ascending=False)
# party with more aged candidates is BJP

PARTY  AGE
BJP    59.0    21
       58.0    18
       55.0    18
       52.0    17
       54.0    17
               ..
NAWPP  68.0     1
MSHP   38.0     1
MOSP   27.0     1
MNM    72.0     1
AAM    25.0     1
Name: STATE, Length: 823, dtype: int64

## Gender diversity

In [26]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                              float64
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [27]:
# How many  female and male candidates are participating in the election?
gender_count = data.groupby('GENDER').count()
gender_count

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\r\nVOTES,POSTAL\r\nVOTES,TOTAL\r\nVOTES,OVER TOTAL ELECTORS \r\nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY,TOTAL ELECTORS
GENDER,,,,,,,,,,,,,,,,,,
FEMALE,258,258,258,258,258,258,2,258,258,258,258,258,258,258,258,258,258,258
MALE,1760,1760,1760,1760,1760,1760,20,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760

In [28]:
# which state has more female candidates?
state_female = data[data['GENDER']=='FEMALE']
state_female_can = state_female.groupby('STATE').count()['GENDER']
state_female_can.sort_values(ascending=False)
# West Bengal has the most number of female candidates

STATE
West Bengal             37
Uttar Pradesh           34
Tamil Nadu              27
Bihar                   21
Maharashtra             19
Odisha                  16
Madhya Pradesh          13
Andhra Pradesh          11
Rajasthan                8
Chhattisgarh             8
Gujarat                  8
Telangana                8
Kerala                   7
Jharkhand                7
Punjab                   7
Haryana                  6
Karnataka                5
Assam                    4
NCT OF Delhi             3
Tripura                  2
Uttarakhand              1
Puducherry               1
Meghalaya                1
Dadra & Nagar Haveli     1
Chandigarh               1
Arunachal Pradesh        1
Jammu & Kashmir          1
Name: GENDER, dtype: int64

## Party vs seats

In [29]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                              float64
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [30]:
# Which party won the most number of seats?
Winner_list = data[data['WINNER']== 1]
Winner_by_party = Winner_list.groupby('PARTY').count()['STATE']
Winner_by_party.sort_values(ascending=False)

PARTY
BJP       300
INC        52
DMK        23
YSRCP      22
AITC       22
SHS        18
JD(U)      16
BJD        11
BSP        11
TRS         9
LJP         6
SP          5
CPI(M)      5
NCP         5
IND         4
IUML        3
JKN         3
TDP         3
SAD         2
ADAL        2
AIMIM       2
JMM         1
AIADMK      1
AIUDF       1
AJSUP       1
SKM         1
RSP         1
VCK         1
RLTP        1
NPF         1
NPEP        1
NDPP        1
MNF         1
JD(S)       1
KEC(M)      1
AAP         1
Name: STATE, dtype: int64

In [31]:
data.dtypes

STATE                                           object
CONSTITUENCY                                    object
NAME                                            object
WINNER                                           int64
PARTY                                           object
SYMBOL                                          object
GENDER                                          object
CRIMINAL\r\nCASES                              float64
AGE                                            float64
CATEGORY                                        object
EDUCATION                                       object
ASSETS                                         float64
LIABILITIES                                    float64
GENERAL\r\nVOTES                                 int64
POSTAL\r\nVOTES                                  int64
TOTAL\r\nVOTES                                   int64
OVER TOTAL ELECTORS \r\nIN CONSTITUENCY        float64
OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY    float64
TOTAL ELECTORS                                   int64
dtype: object

In [32]:
data['CONSTITUENCY']

0              ADILABAD
1              ADILABAD
2              ADILABAD
4                  AGRA
5                  AGRA
             ...
2257    YAVATMAL-WASHIM
2258    YAVATMAL-WASHIM
2259          ZAHIRABAD
2260          ZAHIRABAD
2261          ZAHIRABAD
Name: CONSTITUENCY, Length: 2018, dtype: object

In [33]:
# which state has the most number of seats? and which party stood for the most seats?
party_contested = data.groupby(['STATE','PARTY']).count()['CONSTITUENCY']
party_contested.sort_values(ascending=False)

STATE                      PARTY
Uttar Pradesh              BJP      78
Bihar                      IND      67
Uttar Pradesh              INC      67
Maharashtra                VBA      47
West Bengal                BJP      42
                                    ..
Madhya Pradesh             ABGP      1
Lakshadweep                NCP       1
                           JD(U)     1
                           INC       1
Andaman & Nicobar Islands  AAP       1
Name: CONSTITUENCY, Length: 302, dtype: int64

In [34]:
# Which party participated in most seats?
party_seats = data.groupby('PARTY').count()['CONSTITUENCY']
party_seats.sort_values(ascending=False)
# BJP and INC participated in most seats

PARTY
BJP       420
INC       413
IND       201
BSP       163
CPI(M)    100
         ...
SDF         1
SJDD        1
BSCP        1
KEC(M)      1
ravp        1
Name: CONSTITUENCY, Length: 132, dtype: int64

## Votes summary

In [35]:
# Partywise average general votes count
votes = data.groupby('PARTY').mean()['GENERAL\r\nVOTES']
votes.sort_values(ascending=False)

PARTY
RLTP      655496.000000
AJSUP     646864.000000
YSRCP     616578.120000
DMK       599560.521739
BJP       542675.021429
              ...
AKBMP      10109.000000
ABSKP       9910.000000
BBMP        9886.000000
BARESP      9563.000000
ravp        9096.000000
Name: GENERAL\r\nVOTES, Length: 132, dtype: float64

In [36]:
# Partywise  average general votes in each state
votes_states = data.groupby(['PARTY','STATE']).mean()['GENERAL\r\nVOTES']
votes_states.sort_values(ascending=False)

PARTY  STATE
BJP    Rajasthan                    785317.166667
       Madhya Pradesh               736409.068966
       Haryana                      731726.900000
       NCT OF Delhi                 699578.714286
       Gujarat                      692394.384615
                                        ...
SHS    Dadra & Nagar Haveli           4000.000000
INC    Sikkim                         3922.000000
AAP    Andaman & Nicobar Islands      2837.000000
BSP    Andaman & Nicobar Islands      2478.000000
JD(U)  Lakshadweep                    1339.000000
Name: GENERAL\r\nVOTES, Length: 302, dtype: float64

In [37]:
# Categorywise general vote share in each states
category_vote = data.groupby(['CATEGORY','STATE']).mean()['GENERAL\r\nVOTES']
category_vote.sort_values(ascending=False)

CATEGORY  STATE
ST        Himachal Pradesh             712133.000000
GENERAL   Rajasthan                    518955.452381
          Karnataka                    511123.220000
          Assam                        460229.379310
ST        Karnataka                    452963.800000
                                           ...
          Sikkim                        16062.000000
          Bihar                         15585.000000
          Lakshadweep                   15371.666667
SC        Chandigarh                     7391.000000
          Andaman & Nicobar Islands      2478.000000
Name: GENERAL\r\nVOTES, Length: 80, dtype: float64

## Significance of education

In [38]:
# What type of education does the winner candidates posses mostly ?
win_candidates = data[data['WINNER']==1]
edu_winner = win_candidates.groupby('EDUCATION').count()['GENDER']
edu_winner.sort_values(ascending=False)
# Most winnerr candidates are Post Graduate or Graduate

EDUCATION
Post Graduate            134
Graduate                 132
Graduate Professional     99
12th Pass                 69
10th Pass                 45
Doctorate                 23
Others                    17
8th Pass                  12
5th Pass                   4
Literate                   2
Post Graduate\r\n          1
Illiterate                 1
Name: GENDER, dtype: int64

In [39]:
# Which party has most winners with Post Graduation?
pg_edu = win_candidates[win_candidates['EDUCATION']=='Post Graduate']
party_edu = pg_edu.groupby('PARTY').count()['WINNER']
party_edu.sort_values(ascending=False)

PARTY
BJP       77
INC       15
YSRCP      8
DMK        6
AITC       5
JD(U)      3
SHS        3
BSP        2
SP         2
BJD        2
SAD        1
NPEP       1
NCP        1
JKN        1
TRS        1
SKM        1
AIUDF      1
TDP        1
AIMIM      1
AIADMK     1
ADAL       1
Name: WINNER, dtype: int64

In [40]:
# Most Post Graduates who won are with BJP party who got most seats in the election , so out of 420 seats 77 of them are Post graduates

In [41]:
data.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\r\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\r\nVOTES,POSTAL\r\nVOTES,TOTAL\r\nVOTES,OVER TOTAL ELECTORS \r\nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,NaN,52.0,ST,12th Pass,3099414.0,231450.0,376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,NaN,54.0,ST,Post Graduate,18477888.0,847000.0,318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,NaN,52.0,ST,12th Pass,36491000.0,15300000.0,314057,181,314238,21.092771,29.534285,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,NaN,58.0,SC,Doctorate,74274036.0,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
5,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,NaN,47.0,SC,Post Graduate,133784385.0,22251891.0,434199,1130,435329,22.466390,37.999125,1937690

## Polling percent analysis

In [42]:
# Overall polling in each constituency
over_poll = data.groupby('CONSTITUENCY').mean()['OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY']
over_poll

CONSTITUENCY
ADILABAD           31.655634
AGRA               32.801573
AHMADNAGAR         32.049930
AHMEDABAD EAST     47.599512
AHMEDABAD WEST     32.415730
                     ...
WARDHA             24.295092
WAYANAD            32.327348
WEST DELHI         32.459637
YAVATMAL-WASHIM    15.893019
ZAHIRABAD          31.951561
Name: OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY, Length: 539, dtype: float64

In [43]:
# Overall polling in each states
over_poll_states = data.groupby('STATE').mean()['OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY']
over_poll_states

STATE
Andaman & Nicobar Islands    19.274535
Andhra Pradesh               23.859807
Arunachal Pradesh            19.430240
Assam                        30.648396
Bihar                        17.100894
Chandigarh                   23.902082
Chhattisgarh                 27.454306
Dadra & Nagar Haveli         15.944833
Daman & Diu                  32.463351
Goa                          32.347543
Gujarat                      35.994909
Haryana                      23.610810
Himachal Pradesh             42.913850
Jammu & Kashmir              20.563938
Jharkhand                    20.294923
Karnataka                    37.365404
Kerala                       31.143921
Lakshadweep                  32.762727
Madhya Pradesh               29.852306
Maharashtra                  26.368325
Manipur                      19.730939
Meghalaya                    32.697587
Mizoram                      19.791745
NCT OF Delhi                 28.566881
Nagaland                     33.076444
Odisha                       27.776975
Puducherry                   23.829396
Punjab                       23.427787
Rajasthan                    32.759709
Sikkim                       24.190612
Tamil Nadu                   19.265635
Telangana                    21.953972
Tripura                      23.948161
Uttar Pradesh                30.820859
Uttarakhand                  34.404277
West Bengal                  23.503812
Name: OVER TOTAL VOTES POLLED \r\nIN CONSTITUENCY, dtype: float64